.fp_right_img{
    width: 90%;
    height: auto;
    border-radius: 15px;
}
.fp_entire_container{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0%;
    left: 0%;
}
.fp_right_container{
    width: 65vw;
    height: 100vh;
    position: absolute;
    right: 0px;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fp_left_container{
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fp_left_container_top{
    width: 22vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.fp_logo h2{
    font-size: 16px;
    margin: 0px 5px;
}
.fp_design{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.fp_design1{
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: black;
    margin-bottom: 5px;
}
.fp_design2{
    border-radius: 2px;
    height: 4px;
    width: 15px;
    background-color: black;
}
.fp_form label p{
    margin: 0px;
}
.fp_form label input[type="text"],
.fp_form label input[type="password"],
.fp_form label input[type="email"]{
    width: 20vw;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 15px;
}
.fp_form label input[type="checkbox"]{
    transform: scale(2);
    margin: 15px 15px 15px 10px;
    accent-color: rgb(131, 99, 48);
}
.fp_form{
    margin-right: 10px;
}
.fp_form h2{
    color:rgb(0, 0, 0) ;
    width: 50%;
    letter-spacing: 2px;
    margin-top: 50px;
    font-weight: 400;
}
.fp_form button{
    width: 10vw;
    padding: 15px;
    border: none;
    background-color: rgb(131, 99, 48);
    margin: 15px 0px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.fp_form button:hover{
    background-color: rgb(131, 99, 48);
}
.fp_form a{
    margin: 0px 40px;
    text-decoration: none;
    color: grey;
}
.fp_form a:hover{
    color: black;
}
.fp_form_slide{
    width: 22vw;
    overflow: hidden;
    position: relative;
    left: 0px;
    top: 0px;
    height: 480px;
}
.fp_slider{
    display: flex;
    position: absolute;
    left: 0px;
    transition: left 0.3s ease;
}   
.fp_slider.clicked{
    left: -22vw;
}
.catrun{
    margin: -10px;
    width: 40px;
    height: auto;
}